[submodule "deck.js"]
	path = deck.js
	url = https://github.com/imakewebthings/deck.js.git
[submodule "deck.events.js"]
	path = deck.events.js
	url = https://github.com/mikeharris100/deck.events.js.git
[submodule "jsqis"]
	path = jsqis
	url = https://github.com/garrison/jsqis.git
[submodule "deck.split.js"]
	path = deck.split.js
	url = https://github.com/houqp/deck.split.js.git
